<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<appSettings>
    <add key ="IntervalMillisecond" value ="60000"/>
  </appSettings>-->
  <appSettings>
    <!--Begin Tool-->
    <add key="MinutesInterval" value="1" />
    <add key="Order_Days" value="200" />
    <add key="Product_Days" value="200" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--End Tool-->
    <!--Begin Tool-->
    <add key="API_URL" value="https://www.vascara.com/wapi/erpgetdata/" />
    <add key="API_KEY" value="RXJwR2V0RGF0YTo2ZjY2NDI1MjUwNDM4NWU0ZjI2OGU1ZmE4YjNhMzNkOA==" />
    <!--<add key="API_User" value="nguyen.quach" />
    <add key="API_Password" value="123456" />-->
    <!--GetCofigBySetupBelow-->
    <!--Code have 3 Type which one datacustomer,saleorders,orderdetail-->
    <add key="Code" value="datacustomer" />
    <add key="CreateDate" value="-1" />
    <add key="FromDate" value="" />
    <add key="ToDate" value="" />
    <!--End Tool-->
  </appSettings>
  <connectionStrings>
    <!--<add name="BI" providerName="System.Data.SqlClient" connectionString="server=192.168.111.26;database=VAS;uid=dd;password=DD@Gf2020" />-->
	  <add name="BI" providerName="System.Data.SqlClient" connectionString="server=QTNGUYEN1;database=VAS;uid=sa;password=aspirine" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>